body {
    background-color:rgb(20, 20, 70);
}

#button {
    background-color:yellow;
    border-color:black;
    width:80px;
    height:80px;
    position:relative;
    left:120px;
    top:100px;
}

#simbol {
    font-size:24pt;
    position:relative;
    text-align:right;
    top:18px;
}

#credit {
    position:relative;
    text-align:right;
    top:250px;
}

.text {
    color:white;
}