.main_icon{
    position:absolute;
    width:170px;
    height:115px;
    background-color:red;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:30px;
}

.vid{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-35%, -50%);
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 40px solid #fff;
    border-bottom: 25px solid transparent;
}